@import "tailwindcss";

@theme {
  --color-primary: #1f2937;
  --color-secondary: #b45309;
  --color-bg-light: #f9fafb;
  --color-bg-dark: #0f172a;
}

html.light {
  background-color: var(--color-bg-light);
  color: #111827;
}

html.dark {
  background-color: var(--color-bg-dark);
  color: #e5e7eb;
}

html, body {
  overflow-x: hidden;
}